/*
                BA'ZI QOIDALAR: 

- Id style class style ga nisbatan avvalroq yoziladi;
- Style lar alifbo tartibida saralanadi (@media istisno hisoblanadi);
- Har bir style dan oldin bir line tashlanadi;
- Har bir { dan oldin bir space tashlanadi;
- Har bir property line tugashida ; qo'yish esdan chiqmasin;

*/

 #home {
     cursor: pointer;
     background-color: #1c1d1f;
     background-position: center;
     background-repeat: no-repeat;
     -webkit-user-select: none;
     overflow: hidden;
     -moz-background-size: cover;
     -o-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
 }

 
.animation-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995);
    transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995)
}

.animation-container.\--in {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}

.animation-container.\--active {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    z-index: 2
}

.animation-container.\--out {
    z-index: 1;
    display: none;
    -moz-transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995);
    transition: opacity 1s cubic-bezier(0.42, 0, 0, 0.995)
}

.gifs-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}

.click-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=57);
    opacity: 0.99;
    -moz-transition: all .5s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: all .5s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: all .5s cubic-bezier(0.42, 0, 0, 0.995);
    transition: all .5s cubic-bezier(0.42, 0, 0, 0.995);
    z-index: 0;
}

.video-layer{
    position: absolute;
    margin: auto auto auto 8px;
    width: 99%;
    height: 102%;
    left: 0;
    /* background-color: #fff; */
    /* background-image: url('img/sv7.gif'); */
    background-position: top bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.frames {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* padding: auto auto; */
    -moz-animation: fade 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-animation: fade 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    animation: fade 0.5s cubic-bezier(0.42, 0, 0, 0.995)
}

@media (min-width: 0) and (max-width: 960px){
    .frames {
        /* padding: auto a; */
    }
}

.border-out {
    display: block;
    height: 95%;
    width: auto;
    position: relative;
    overflow: hidden;
    background-color:none; 
    border: 2px double #BCBDBF;
    margin: auto 6% auto 6%;
    top: -2.1rem;
}

/* @media (min-width: 0) and (max-width: 1200px){
    .border-out {
        margin: auto;
        top: -1.5rem;
    }
} */

.border-in{
    display: block;
    height: 96%;
    width: auto;
    position: relative;
    overflow: hidden;
    background-color: none;
    border: 2px double #C80000;
    margin: .9rem 0.9rem 0.1rem 0.9rem;
}


/* @media (min-width: 0) and (max-width: 1200px){
    .border-in {
        bottom: 0.3rem;
    }
} */

.main-logo{
    height: 125px;
    width: 170px;
    background: url("img/Logo-black.png");
    position: relative;
    margin: -2rem auto;
    right: 0.1rem;
    top: 0rem;
    z-index: 100;
}
@media (min-width: 0px) and (max-width: 1200px){
    .main-logo{
        margin:-2.5rem auto;
    }
}

.bg-logo{
    position: absolute;
    height: 50px;
    width: 170px;
    background: #000;
    margin: auto;
    top: 0.5rem;
    left: 42.5rem;
    z-index: 2;
}

.comp-name {
    font: normal normal 24px/29px Montserrat;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: 0px auto 0px auto;
    color: #BCBDBF;
    font-size: large;
    width: fit-content;
    height: fit-content;
    padding: 0.2% 0.4%;
    /* border: 2px double white; */
    z-index: 20;
    background-color: #000;
    top: -0.9rem;
}

@font-face {
    font-family: 'gilroylight';
    src: url('fonts/Gilroy/gilroy-light-webfont.woff2') format('woff2'),
         url('fonts/Gilroy/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.motto{
    font: normal normal 300 87px/100px;
    font-family: gilroylight;
    color: #BCBDBF;
    /* font-size: 4rem; */
    position: relative;
    text-align: center;
    z-index: 40;
    top: 16.7rem;
}


/*  Link-landing Buttons  */


.blog {
    position: relative;
    width: 160px;
    height: 45px;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.face1 {
    /* background: black; */
    z-index: 1;
    transform-origin: bottom;
    border: 1px solid #fff;
}

.btn-link{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 45px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: 1.2;
    background: #000;
}

.blog:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    background: red;
}

.face2 {
    /* background: black; */
    transform-origin: top;
    border: 1px solid #fff;
    transform: translateY(100%) rotateX(90deg);
}

.face2 a{
    color: red;
}

.blog:hover .face.face2{
    transform: translateY(0) rotateX(0deg);
}

/* .blog:nth-child(1) .face.face1,
.blog:nth-child(1) .face.face2 {
  border-left: none;  
} 

.blog:nth-child(2) .face.face1,
.blog:nth-child(2) .face.face2 {
  border-right: none;  
}  */


/* menu positions */
.blog:nth-child(1){
    position: absolute;
    top: 52%;
    left: 7%;
    transform: translate(0, -50%);
}

.blog:nth-child(2){
    position: absolute;
    top: 52%;
    right: 7%;
    transform: translate(0, -50%);
}

.blog:nth-child(3){
    position: absolute;
    bottom: 8.45%;
    left: 21.65%;   
}

.blog:nth-child(4){
    position: absolute;
    bottom: 8.4%;
    right: 21.65%;  
}

.line-l{
    
    position: absolute;
    z-index: -1;
    width: 6rem;
    top: 1.1rem;
    right: 7rem;
    color: #fff;
    opacity: 0.7;
}

.line-r{
    
    position: absolute;
    z-index: -1;
    width: 6rem;
    top: 1.1rem;
    left: 7rem;
    color: #fff;
    opacity: 0.7;
}

.element-1{
    width: 150px;
    height: 120px;
    position: relative;
    bottom: 16rem;
    left: 45%;
    background-image: url('img/tri-black.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.elem-1W{
    background-image: url('img/tri-white.png'); 
    zoom: 137%;
    bottom: 12.5rem;
    left: 43.3%;
    z-index: 0;
}

.element-2{
    width: 270px;
    height: 250px;
    position: relative;
    bottom: 32rem;
    left: 59%;
    background-image: url('img/particle-b.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    zoom: 130%;
    /* z-index:; */
    opacity: 0.5;
}

.elem-2W{
    background-image: url('img/particle-w.png');
}

/* Language */

#app {
    position: relative;
    width: 150px;
    height: 100px;
    z-index: 10;
    margin: 41.5% 7.4% auto auto;
    /* top: 60%; */
    /* right: 3.1%; */
    /* left: 90%; */
    z-index: 15;
    /* background: #fff;
    border: 5px white; */
}

/* IPhone 6 */

/* @media (min-width: 487px) and (max-width: 1023px){
    #app{
        margin: 103.2% 7% auto auto;
        font-size: 0.8rem;
    }
    .comp-name{
        font-size: 0.9rem;
        margin: 2.5% auto auto auto;
    }
} */

/* IPad */
/* 
@media (min-width: 1024px) and (max-width: 1438px){
    #app{
        margin: 58% 5% auto auto;
        font-size: 0.9rem;
    }
} */

/* Laptop */ 

/* @media (min-width: 1439px) and (max-width: 1679px){
    #app{
        margin: 40% 4% auto auto;
    }
    .comp-name{
        margin: .3% auto auto auto;
    }
} */

/* Desktop 1 */

/* @media (min-width: 1680px) and (max-width: 1969px){
    #app{
        margin: 39% 5% auto auto;
    }
} */

/* Desktop 2 */

/* @media (min-width: 1970px) {
    #app{
        margin: 39% 5% auto auto;
    }
} */


.lang-link {
    text-decoration: none;
    color: #fff;
}

.EnTr {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 1px 25px 2px 10px;
    z-index: -1;
    border: 1px solid white;
    border-radius:95px;
    -moz-border-radius:95px;
    -webkit-border-radius:95px;
    display: none;
}

.globe {
    position: absolute;
    bottom: 2.5px;
    right: 2.5px;
    background-image: url("img/global-white.png");
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.EnTr a {
    margin: 0.1rem 0.2rem;
    display: inline;
    font-size: 0.9rem;
} 

.UzRu {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 10px 1px 25px 1px;
    z-index: -1;
    border: 1px solid rgb(255, 255, 255);
    border-radius:95px;
    -moz-border-radius:95px;
    -webkit-border-radius:95px;
    display: none;
}

.UzRu a {
    margin: 0.4rem 0.1rem;
    display: block;
    font-size: 0.9rem;
} 

/*  Change styled buttons  */

.change{
    position: absolute;
    z-index: 49;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
    color: black;
    padding: 0.1rem;
    right: 7.45rem;
    top: 4.1rem;
    outline: none;
}



.red {
    border: 4px solid rgb(218, 13, 13);
    opacity: 0.99;
}

.black{
    border: 4px solid black;
}

.white{
    background: #fff;
}

.line-red{
    color: red;
    size: 1rem;
}

.face1-1{
    background: snow;
    border: 1.5px solid #000;
}

.link-face{
    color: #000;
    background: #fff;
}

.face2-2{
    background: snow;
    border: 1.5px solid #000;
}

.lang-link-w{
    color: black;
}

.globe-black{
    background-image: url('img/global.png');
}

.lang-border{
    border: 2px solid black;
}

.comp-name-white{
    color: #000;
    background-color: rgb(252, 247, 247);
    /* border: 2px double black; */
}

.motto-black{
    color: black;
}

.change-black{
    color: white;
    background: #000;
}

/* .bg-w{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    outline: none;
    right: 7.45rem;
    top: 4.1rem;
    z-index: -1;
} */

.bg-b{
    box-shadow: none;
}

.logo-white{
    background: url("img/Logo-white.png");
}

@media (min-width: 0px) and (max-width: 415px){
    .video-layer{
        background-image: none;
        z-index: -50;
    }
}

@media (min-width: 416px) and (max-width: 768px){

}

@media (min-width: 769px) and (max-width: 1024px){
    
}

@media (min-width: 1025px) and (max-width: 1366px){
    .video-layer{
        background-image: url('img/sv04.gif');
    
    }
    .border-out{
        position: relative;
        height: 94%;
        top: -2.1rem;
        margin: auto 3.72% auto 6.2%;
    }
    .border-in{
        position: relative;
        height: 97%;
        margin: .5rem 0.5rem 0.5rem 0.6rem;
    }
    .comp-name{
        font-size: 1rem;
        top: 0rem;
        left: 1rem;
    }
    .blog {
        position: relative;
        width: 145px;
        height: 45px;
    }
    .blog:nth-child(1){
        position: absolute;
        top: 51.45%;
        left: 7.5%;
        transform: translate(0, -50%);
    }
    
    .blog:nth-child(2){
        position: absolute;
        top: 51.45%;
        right: 4.85%;
        transform: translate(0, -50%);
    }

    .blog:nth-child(3){
        position: absolute;
        bottom: 9.45%;
        left: 22.4%;   
    }

    .blog:nth-child(4){
        position: absolute;
        bottom: 9.4%;
        right: 19.75%;  
    }

    .change{
        right: 4.96rem;
        top: 3.76rem;
        width: 1.3rem;
        height: 1.3rem;
        font-size: 70%;
    }

    #app{
        margin: 40.5% 5.1% auto auto;
    }

    .motto{
        top: 15.2rem;
        font-size: 3.7rem;
        font-weight: initial;
        z-index: 1;
    }
}

@media ( 1367px <= width >= 1440px){
    
}

@media screen and (max-width: 1919px){
     .video-layer{
        background-image: url('img/sv7.gif');
        z-index: -1;
    }
    .border-out{
        position: relative;
        height: 95.4%;
        top: -2.05rem;
        margin: auto 6.1% auto 6.1%;
    }
    .border-in{
        position: relative;
        height: 96.1%;
        margin: .9rem 0.6rem 0rem 0.7rem;
    }
    .comp-name{
        font-size: large;
        top: -0.4rem;
    }
    .blog {
        position: relative;
        width: 160px;
        height: 45px;
    }
    .blog:nth-child(1){
        position: absolute;
        top: 52%;
        left: 7%;
        transform: translate(0, -50%);
    }
    
    .blog:nth-child(2){
        position: absolute;
        top: 52%;
        right: 7%;
        transform: translate(0, -50%);
    }

    .blog:nth-child(3){
        position: absolute;
        bottom: 8.45%;
        left: 21.65%;   
    }

    .blog:nth-child(4){
        position: absolute;
        bottom: 8.4%;
        right: 21.65%;  
    }

    .change{
        right: 7.45rem;
        top: 4.1rem;
        width: 1.3rem;
        height: 1.3rem;
        font-size: 70%;
    }

    #app{
        margin: 41.5% 7.4% auto auto;
    }

    .motto{
        top: 16.7rem;
        font-size: 4rem;
        font-weight: initial;
    }   
}

@media (min-width: 1920) {
    
}